body {
    font-family: 'Montserrat', sans-serif;
    width: 960px;
    background: whitesmoke;
    margin: 0 auto;
}

/* * {
    outline: 1px dotted black;
} */

/* HEADER */
header {
    background: #254E58;
    height: 100px;
    margin-bottom: 30px;
}
nav {
    margin: 0 auto;
}
nav h2 {
    font-size: 50px;
    font-weight: 1000;
    color: #88BDBC;
    margin-top: 25px;
    margin-right: 100px;
    float: left;
}
nav img {
    margin-top: 13px;
    margin-right: 30px;
    float: left;  
}
nav li {
    display: inline-block;
    margin-top: 45px;
    margin-right: 30px;
}
a {
    color: #88BDBC;
    text-decoration: none;
}

/* MAIN */
main p {
   margin: 70px;
   max-width: 800px;
   text-align: center;
}
main #catalog-images ul{
    max-height: 300px;
    background: #112D32;
    max-width: 800px;
    margin: 0 auto;
}
main #catalog-images img {
    width: 200px;
    height: 200px;
    margin: 30px;
}
main #catalog-images img:hover {
    opacity: .5;
    cursor: pointer;
}

/* CHART */
canvas {
    margin: 0 auto;
}

/* FOOTER */
footer {
    background: #254E58;
    height: 100px;
}
footer p {
    padding: 30px;
    text-align: center;
    font-size: 10px;
    color: #88BDBC;
}

/* img {
    width: 30%;
} */
/* li {
    display: inline-block;
} */